body{font-family:'Montserrat', sans-serif;font-size:75%;min-height:100%;overflow:none;background-color:#2D4259;}

a, a:visited {text-decoration:none;color:#6E6E6E;}

ul {display:inline-block;list-style:none;padding:0;}

.index{width:15%;display:inline-block;}
ul a{text-transform:uppercase;}
.index li{text-align:center;line-height:1em;}
.index li:after{content:'°';display:block;margin-top:.5em;color:#6E6E6E;opacity:.3;}

.users {width:80%;vertical-align:top;}
.users li{line-height:4em;text-align:center;position:relative;}
.users li:after{content:'';display:block;border-bottom:1px solid #ccc;width:10%;margin:0 auto 0 auto;}

.users li:hover .icon-star{display:inline;}
.users .icon-star{font-size:1.4em;position:absolute;margin-left:1em;color:#DCDCDC;display:none;}
.users .icon-star:hover{color:#D4C255;cursor:pointer;}

header {background-color:#fff;width:100%;box-shadow:2px 0 10px rgba(0,0,0,.5);position:relative;z-index:2;}
header a, header form{display:inline-block;vertical-align:middle;}
header form {margin-left:2em;}
header a, header a:visited {font-family:'Arapey';font-size:2em;color:#2D4259;margin:0 0 0 1em;letter-spacing:.05em;}
header span{font-size:.5em;}
input[name="name"]{margin:1em;font-family:'Arapey', serif;border-radius:.5em;padding:.5em 1em;color:#666;border:1px solid #DCDCDC;;width:100%;font-size:1.5em;outline:none;}
section{float:left;width:30%;overflow:auto;background-color:#fff;height:700px;}
section + section {box-sizing:border-box;margin-top:0;padding:0 0 0 0;width:70%;background-color:transparent;}
section h1 {color:#fff;margin:1em 0 -6em 2em;text-transform:uppercase;font-weight:normal;}
section h2 {color:#fff;font-size:10em;font-family:'Arapey';margin-left:.3em;font-weight:normal;}
