<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Where The Fu** Are You?</title>
	<meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Arapey" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
  <link href="public/stylesheet/mfglabs_iconset.css" rel="stylesheet"  type="text/css" />
  <link href="public/stylesheet/wtfay.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
  <header>
    
    
    <a href="">WTFAY</a>
    <form action="users/search/" method="post">
      <input type="text" name="name" placeholder="Recherche" autocomplete="off"/>
    </form>
  </header>
  <section>
  
  <ul class="index">
    <li><a href="filter/favorite" data-filter="favorite"><i class="icon-star"></i></a></li>
    <li><a href="users/h1" data-filter="h1">H1</a></li>
    <li><a href="users/h2" data-filter="h2">H2</a></li>
    <li><a href="users/h3" data-filter="h3">H3</a></li>
    <li><a href="users/h4" data-filter="h4">H4</a></li>
    <li><a href="users/h5" data-filter="h5">H5</a></li>
    <li><a href="users/staff" data-filter="staff">Staff</a></li>
    <li><a href="users/other" data-filter="other">Others</a></li>
  </ul>  
  <ul class="users">
  <?php require('partials/users.html'); ?>
  </ul>
  </section>
  <section>
    
    <?php require('partials/user.html') ?>
   
  </section>
  
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/wtfay.js"></script>
</body>
</html>